body {
  background: #dd5e89; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f7bb97,
    #dd5e89
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f7bb97,
    #dd5e89
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  font-family: "Montserrat", sans-serif;
}

.container {
  margin: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 65px;
  letter-spacing: 2px;
  margin-bottom: 0;
}

.todo {
  padding: 15px;
  background-color: rgb(72, 99, 187);
  border: 1px solid #598aaa;
  border-radius: 5px;
  box-shadow: 3px 3px 10px 1px rgb(233, 104, 151);
}

.addItem {
  height: 100%;
  width: 100%;
  background-color: white;
}

.todo input[type="text"] {
  height: 36px;
  border: none;
  padding: 15px;
  font-size: 1.5em;
}

input[type="text"]:focus,
input:focus {
  outline: none;
}

#enter {
  background-color: rgb(228, 228, 228);
  height: 76px;
  width: 70px;
}

.theList {
  background-color: rgba(255, 236, 243, 0.872);
}

ul {
  list-style-type: none;
  margin-top: 25px;
  padding-left: 0;
}

.theList li:nth-child(even) {
  background-color: white;
}

.delete {
  height: 100%;
  width: 50px;
  background-color: white;
  border: solid 1px rgba(255, 236, 243, 0.872);
}

li {
  height: 42px;
  line-height: 40px;
}

.done {
  text-decoration: line-through;
}
